<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
    integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
{% extends 'base.html' %}
{% block content %}

<style>
    .form-login{
        padding:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form-login .container-remember{
        display: inline;
    }
</style>

<body>
    <form action="" method="POST" class="form-login">
        {{ form.hidden_tag() }}
        {{ form.user.label }}
        {{ form.user(size=15, class="form-control", style="width:300px") }}
        {{ form.password.label }}
        {{ form.password(size=15, class="form-control", style="width:300px") }}
        <div class="container-remember">
            {{ form.remember_me.label }}
            {{ form.remember_me (class="form-check-input")}}
        </div>
        {{ form.submit(size=15, class="btn btn-primary") }}
    </form>
</body>

</html>
{% endblock %}