<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
    integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <form action="" method="POST">
        <!-- Important for validation: -->
        {{ form.hidden_tag() }}
        <!-- Rest of the form: -->
        {{ form.name.label }}
        {{ form.name(size=15) }}
        {{ form.user.label }}
        {{ form.user(size=15) }}
        {{ form.email.label }}
        {{ form.email(size=15) }}
        {{ form.password.label }}
        {{ form.password(size=15) }}
        {{ form.gender.label }}
        {{ form.gender(size=10) }}
        {{ form.birthdate.label }}
        {{ form.birthdate(size=10) }}
        {{ form.submit(size=15) }}
    </form>
</body>
</html>
{% endblock %}